{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		  <div class="col-md-12">
			  
			  <table class="table table-striped table-sm">
				  <thead>
					  <tr>
						  <th>
							  Morador Id
						  </th>
						  <th>
							  Nome Morador
						  </th>
					  </tr>
				  </thead>
				  <tbody>
						{% for morador in moradores %}
						<tr>
						  <td>
							{{ morador.anfitriao_id }}
						  </td>
						  <td>
							{{ morador.nome_completo }}
						  </td>
						  <td>
							<a href="{% url 'base:morador.atualizar' anfitriao_id morador.pk %}">Atualizar</a>
							<a href="{% url 'base:morador.deletar' anfitriao_id morador.pk %}">Deletar</a>
						  </td>
					  	</tr>
					  	{% endfor %}
				  </tbody>
			  </table>
		  </div>
	  </div>
	</div>
</div>
{% endblock %}